rtlc -partition_module_xrtl Transactor
rtlc -aowc_opt
rtlc -compile_display
comp -platform D1S
comp -num_boards 1
comp -hvl questa
comp -allow_large_num_read_ports
comp -enable_velcp
comp -assertcomp
comp -enable_zin_cover
comp -sv
veanalyze -assert_analyze_options " -sva "
comp -assert_compile_options " -tcs -sva "

